<section>
  <h2>Hello, World from {@messenger}! I'm using HEEx</h2>
</section>


<!--<\%= or <\% is generally only useful for things like conditonals {} is generally prefered elsewise-->
<section>
  <h2>Hello, World from <%= @messenger %>! I'm using EEx</h2>
</section>
